*{
    margin: 0px;
    padding: 0px;
}
h1 {
    color: #94FBAB;
    font-size: 50px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }

.sticky {
    height: 80px;
    width: 70px;
    position: sticky;
    left: 95%;
  
  .logosticky {
    height: 90%;
    width: 95%;
}
  }  